/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  font: 0.65%/1 Hevetica, Arial, sans-serif;
}

/* line 11, ../sass/screen.scss */
#game-board {
  margin: 40px auto;
  width: 960px;
  border: solid 1px #ededed;
  overflow: hidden;
}

/* line 18, ../sass/screen.scss */
.game-tile {
  float: left;
  width: 100px;
  height: 100px;
  padding: 30px;
  overflow: hidden;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
/* line 26, ../sass/screen.scss */
.game-tile.done {
  opacity: 0.1;
}
/* line 30, ../sass/screen.scss */
.game-tile .prize {
  display: block;
  width: 80px;
  height: 80px;
  padding: 10px;
}
/* line 37, ../sass/screen.scss */
.game-tile .inner {
  position: relative;
  width: 100px;
  left: -100px;
  padding-left: 100px;
}
/* line 44, ../sass/screen.scss */
.game-tile .door {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 100px;
  -webkit-transition: -webkit-transform, 0.2s;
  -moz-transition: -moz-transform, 0.2s;
  -o-transition: -o-transform, 0.2s;
  transition: transform, 0.2s;
}
/* line 51, ../sass/screen.scss */
.game-tile .door span {
  cursor: pointer;
  display: block;
  width: 100px;
  text-align: center;
  color: white;
  background: #d3d3d3;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  padding: 25px 0;
}
/* line 64, ../sass/screen.scss */
.game-tile .door.open {
  -webkit-transform: rotateY(-100deg);
  -moz-transform: rotateY(-100deg);
  -ms-transform: rotateY(-100deg);
  -o-transform: rotateY(-100deg);
  transform: rotateY(-100deg);
}
